/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* ========================= */
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background: #E2E8F0;
}

body *{
    font-family: "Roboto", sans-serif;
}

svg {
    max-width: 30px;
    height: 30px;
}

button {
    background: #1992d4;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 22px;
    font-size: 20px;
    min-width: 110px;
    font-weight: bold;
}

h2.list-title {
    padding-bottom: 10px;
}

header {
    grid-area: 1 / 3 / 3 / 13;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: white;
    padding: 20px;
    box-shadow: 3px 6px 7px #929292;
}

.search-bar {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    display: block;
    border-radius: 20px;
    border: none;
    background: #E2E8F0;
}

.account-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.account-info img {
    max-width: 70px;
    border-radius: 40px;
    display: inline-block;
}

.account-id {
    display: flex;
    align-items: center;
}

.account-id span {
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.header-buttons {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.notifications {
    justify-self: flex-end;
}

header .introduction img {
    max-width: 100px;
    border-radius: 60px;
}

.introduction {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

section.sidenav {
    grid-area: 1 / 1 / 13 / 3;
    display: grid;
    grid-template-rows: 100px .6fr 1fr;
    align-items: baseline;
    padding: 15px;
    background: #1992d4;
    color: white;
}

section.sidenav .sidenav-title span {
    font-size: 33px;
    padding-left: 20px;
    font-weight: bold;
}

nav.main-nav .nav-item,
nav.account-nav .nav-item,
.sidenav-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-item a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:white;
}

.sidenav svg {
    filter: invert(1);
}

section.project-list {
    grid-area: 4 / 3 / 13 / 10;
    padding: 0 25px;
}

.project-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 25px;
}

.project-card-wrapper .project-card {
    min-height: 275px;
    padding: 30px 15px 0;
    border-left: 11px solid orange;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 6px 7px #929292;
    position:relative;
}

.card-icons {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.card-icons svg {
    margin: 0 5px;
}

aside.sidebar {
    grid-area: 4 / 10 / 13 / 13;
    padding-right: 25px;
}

section.announcments,
section.trending {
    background: white;
    padding: 20px 30px;
    box-shadow: 3px 6px 7px #929292;
    border-radius: 10px;
    margin-bottom: 30px;
}

.announcment {
    border-bottom: 1px solid lightgray;
    padding: 13px 0;
}

.announcment .sub-title {
    font-weight: bold;
}

.announcment:last-of-type {
    border-bottom: none;
}

.user-pfp img {
    max-width: 80px;
    border: 1px solid;
    border-radius: 50px;
}

.trending-user {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: baseline;
    column-gap: 10px;
    margin-bottom: 10px;
}

.user-info .user-tag {
    display: block;
    font-weight: bold;
}