/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* ========================= */
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

svg {
    max-width: 30px;
    height: 30px;
}

button {
    background: #1992d4;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 22px;
    font-size: 20px;
    min-width: 110px;
    font-weight: bold;
}

header {
    grid-area: 1 / 3 / 4 / 13;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-bar {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.account-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.account-info img {
    max-width: 70px;
    border-radius: 40px;
    display: inline-block;
}

.account-id {
    display: flex;
    align-items: center;
}

.account-id span {
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.header-buttons {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.notifications {
    justify-self: flex-end;
}

section.sidenav {
    grid-area: 1 / 1 / 13 / 3;
}

section.project-list {
    grid-area: 4 / 3 / 13 / 10;
}

aside.sidebar {
    grid-area: 4 / 10 / 13 / 13;
}